@model Tbservicedetail
@{
    ViewData["Title"] = "DichVuChiTietEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DichVuChiTietEdit</h2>

<div>
    <form asp-action="DichVuChiTietEdit" method="post" id="uploader">
        <div class="modal-body">
            <input asp-for="ServicedetailId" type="hidden" />
            <div asp-validation-summary="All"></div>
            <p>
                <label>Tiêu đề:</label>
                <input asp-for="ServicedetailTitle" />
            </p>
            <p>
                <label>Danh mục:</label>
                @*<input asp-for="category_id" />*@
                <select asp-for="ServiceId" asp-items="@(new SelectList(ViewBag.Category,"ServiceId","ServiceTitle"))"></select>
            </p>
            <p>
                <label>Ngày đăng:</label>
                <input type="date" asp-for="ServicedetailDatemodified" />
            </p>
            <p>
                <label>Nội dung:</label>
                <textarea asp-for="ServicedetailContent" id="rtxBlogContent"></textarea>
            </p>
        </div>
        <div class="modal-footer">
            <button type="submit">Lưu</button>
            <a asp-action="DichVuChiTiet" class="btn btn-default" data-dismiss="modal">Quay lại</a>
        </div>
    </form>
</div>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>
<script>
    $("#rtxBlogContent").ckeditor();
</script>