@model News
@{
    ViewData["Title"] = "NewsAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <form enctype="multipart/form-data" asp-action="NewsAdd" method="post" id="uploader">
        <div class="modal-body">
            <div asp-validation-summary="All"></div>
            <p>
                <label>Tiêu đề:</label>
                <input asp-for="NewsTitle" />
            </p>
            <p>
                <label>Danh mục:</label>
                @*<input asp-for="category_id" />*@
                <select asp-for="NewscateId" asp-items="@(new SelectList(ViewBag.Categories,"NewscateId","NewscateName"))"></select>
            </p>
            <p>
                <label>Ảnh:</label>
                <input asp-for="News_image" onchange="showPreview1(this)" />
                <img id="imgPreview1" style="width:100px" src="/admin_images/up-img.png" />
            </p>
            <p>
                <label>Ngày đăng:</label>
                <input type="date" asp-for="Datecreated" />
            </p>
            <p>
                <label>Mô tả:</label>
                <input asp-for="NewsSummary" />
            </p>
            <p>
                <label>Nội dung:</label>
                <textarea asp-for="NewsContent" id="rtxBlogContent"></textarea>
            </p>
        </div>
        <div class="modal-footer">
            <button type="submit">Thêm</button>
            <a asp-action="TinTuc" class="btn btn-default" data-dismiss="modal">Quay lại</a>
        </div>
    </form>
</div>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>
<script>
    $("#rtxBlogContent").ckeditor();
</script>

<script type="text/javascript">
    function showPreview1(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#imgPreview1').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>



